{{ define "main" }}

<article>
  {{ if or .Title (eq .Type "tags") }}
  <h1 class="mb-24">{{ .Title }}</h1>
  {{ end }} {{ .Content }}
</article>

{{ $pages := union .RegularPages .Sections }}
{{ $paginator := .Paginate $pages }}
{{ range $index, $page := $paginator.Pages }}
{{ if and $.IsHome (eq $paginator.PageNumber 1) (eq $index 0) }}{{ end }}

<section class="relative my-10 first-of-type:mt-0 last-of-type:mb-0">
	<h2 class="!my-0 pb-1 !leading-none">{{ .Title }}</h2>
	<time class="text-sm opacity-60">{{ .Date | time.Format ":date_medium" }}</time>
	<a class="absolute inset-0" href="{{ .Permalink }}"></a>
</section>
{{ end }}

{{ if gt $paginator.TotalPages 1 }}
<nav class="mt-24 flex">
  {{ if $paginator.HasPrev }}
  <a class="btn" href="{{ $paginator.Prev.URL }}">← {{ i18n "prev_page" }}</a> {{ end }}
  <!---->
  {{ if $paginator.HasNext }}
  <a class="btn ml-auto" href="{{ $paginator.Next.URL }}">{{ i18n "next_page" }} →</a> {{ end }}
</nav>
{{ end }}

{{ end }}
